.header {
  border: 2px black solid;
  padding: 15px;
  background-color: #192a56;
  border-color: #192a56;
}

.header-logo {
  display: inline-block;
}

.header-link {
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  margin: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #f5f6fa;
  padding: 5px;
  border-color: #f5f6fa;
  border-radius: 25px;
}

.header-link:hover {
  background-color: #718093;
}

.me {
  display: flex;
  margin-top: 30px;
  margin-left: 80px;
  letter-spacing: 5px;
}

.me-image {
  border-radius: 150px;
  border-color: #f5f6fa;
  border-width: 5px;
  margin: 25px;
  margin-top: 2px;
  margin-right: 50px;
}

.me-description {
  font-size: 50px;
  font-family: 'Thasadith', sans-serif;
  color: #40739e;
}

.me-description strong {
  color: #f5f6fa;
}

body {
  background-color: #273c75;
  color: #f5f6fa;
}

.portfolio h2{
  font-family: 'Nanum Gothic', sans-serif;
  letter-spacing: 3px;
  font-size: 35px;
  text-align: center;
  background-color: #192a56;
  padding: 30px;
  margin: 0px 600px;
  border-radius: 130px;
}

.portfolio {
  font-family: 'Nanum Gothic', sans-serif;
}

.project-platziventas {
  background-color: #f5f6fa;
  color: #718093;
  margin: 10px 50px;
  padding: .5px 10px;
  border-radius: 25px;
  font-size: 25px;
  display: flex;
  text-align: center;
}

.project-imageContainer {
  display: flex;
  width: 700px;
}

.project-imageContainer img {
  border-radius: 25px;
}


.project-details small{
  font-size: 12.5px;
}

.project-description {
  font-size: 20px;
  text-decoration: none;
}

.project-description a {
  font-size: 20px;
  text-decoration: none;
  color: #e1b12c;
}

.project-misfinanzas {
  background-color: #f5f6fa;
  color: #718093;
  margin: 10px 50px;
  padding: .5px 10px;
  border-radius: 25px;
  font-size: 25px;
  display: flex;
  text-align: center;
}

.idioms-wrapper {
  margin-bottom: 25px;
}

.idioms {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.idioms h2 {
  margin-bottom: 10px;
}

.english {
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
  background-color: #f5f6fa;
  color: #718093;
  padding: 10px 30px;
  width: 266px;
}

.english-image {
  margin-top: 10px;
  border-radius: 160px;
}

.english-title {
  margin-top: 0px;
}

.deutsch {
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
  background-color: #f5f6fa;
  color: #718093;
  padding: 10px 30px;
  width: 266px;
}

.deutsch-image {
  margin-top: 10px;
  border-radius: 160px;
}

.deutsch-title {
  margin-top: 0px;
}

.espanol {
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
  background-color: #f5f6fa;
  color: #718093;
  padding: 10px 30px;
  width: 266px;
}

.espanol-image {
  margin-top: 10px;
  border-radius: 160px;
}

.espanol-title {
  margin-top: 0px;
}

.degrees {
  /*background-color: #dcdde1;*/
  border-radius: 25px;
  padding-bottom: 5px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.degree-title {
  align-items: right;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 0px;
  width: 450px;
}

.degree-title img {
  border-radius: 25px;
}

.footer {
  background-color: #192a56;
  padding: 15px;
}

.footer-title {
  font-size: 30px;
  margin: 0px;
}

.contact-networks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #40739e;
  padding: 30px;
  margin: 20px;
  border-radius: 25px;
}

.contact-link {
  margin: 0px 100px;
  width: 100px;
  height: 100px;
}

.contact-link.mail {
  background-image: url('../gmail.png');
  background-size: 105px 105px;
  background-repeat: no-repeat;
  border-radius: 160px;
}

.contact-link.github {
  background-image: url("../github.png");
  background-size: 105.75px 105px;
  background-repeat: no-repeat;
  border-radius: 160px;
}

.contact-link.platzi {
  background-image: url("../fixingmind5.jpg");
  background-size: 105.75px;
  background-repeat: no-repeat;
  border-radius: 160px;
}
