.header {
  border: 2px black solid;
  padding: 15px;
  background-color: #192a56;
  border-color: #192a56;
}

.header-logo {
  display: inline-block;
}

.header-link {
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #f5f6fa;
  padding: 5px;
  border-color: #f5f6fa;
  border-radius: 25px;
}

.header-link:hover {
  background-color: #718093;
}

.me {
  display: flex;
  margin-top: 30px;
  margin-left: 80px;
  letter-spacing: 5px;
}

.me-image {
  border-radius: 150px;
  border-color: #f5f6fa;
  border-width: 5px;
  margin: 25px;
  margin-top: 2px;
  margin-right: 50px;
  box-shadow: 0px 0px 31px 2px rgba(0,0,0,1);
}

.me-description {
  font-size: 70px;
  font-family: 'Thasadith', sans-serif;
  color: #40739e;
}

.me-description strong {
  color: #f5f6fa;
}

body {
  background-color: #58627F;
  color: #f5f6fa;
}

.portfolio h2{
  font-family: 'Nanum Gothic', sans-serif;
  letter-spacing: 3px;
  font-size: 35px;
  text-align: center;
  background-color: #192a56;
  padding: 30px;
  width: 174px;
  margin: 0px auto;
  border-radius: 130px;
}

.portfolio {
  font-family: 'Nanum Gothic', sans-serif;
}

.Platzi-ventas {
  width: 500px;
  height: 670px;
  border-radius: 25px;
  overflow: hidden;
  background-color: #40739e;
}

.mis-finanzas {
  width: 500px;
  height: 670px;
  border-radius: 25px;
  overflow: hidden;
  background-color: #192a56;
}

.Platzi-ventas img {
  object-fit: cover;
}

.imageContainer {
  margin: 0;
}

.project-detail {
  text-align: center;
  margin: 0 50px;
  margin-top: -70px;
  position: relative;
  background-color: #f5f6fa;
  color: #718093;
  border-radius: 25px;
  padding: 20px;
}

.project-detail h3 {
  font-size: 25px;
  text-transform: uppercase;
}

.project-link {
  margin: 0 50px;
  margin-top: 30px;
  text-align: center;
  padding: 15px;
  border-radius: 25px;
  background-color: #f5f6fa;
}

.project-link a {
  text-decoration: none;
  color: #718093;
  font-size: 25px;
}

.project-link:hover{
  border: 5px solid #e1b12c;
}

.idioms-wrapper {
  margin-bottom: 25px;
}

.idioms {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.idioms-wrapper h2 {
  font-family: 'Nanum Gothic', sans-serif;
  letter-spacing: 3px;
  font-size: 35px;
  text-align: center;
  background-color: #192a56;
  padding: 30px;
  width: 174px;
  margin: 0px auto;
  border-radius: 130px;
}

.english {
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
  background-color: #f5f6fa;
  color: #718093;
  padding: 10px 30px;
  width: 266px;
  box-shadow: 0px 0px 31px 2px rgba(0,0,0,1);
}

.english-image {
  margin-top: 10px;
  border-radius: 160px;
}

.english-title {
  margin-top: 0px;
}

.deutsch {
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
  background-color: #f5f6fa;
  color: #718093;
  padding: 10px 30px;
  width: 266px;
  box-shadow: 0px 0px 31px 2px rgba(0,0,0,1);
}

.deutsch-image {
  margin-top: 10px;
  border-radius: 160px;
}

.deutsch-title {
  margin-top: 0px;
}

.espanol {
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
  background-color: #f5f6fa;
  color: #718093;
  padding: 10px 30px;
  width: 266px;
  box-shadow: 0px 0px 31px 2px rgba(0,0,0,1);
}

.espanol-image {
  margin-top: 10px;
  border-radius: 160px;
}

.espanol-title {
  margin-top: 0px;
}

.degrees {
  /*background-color: #dcdde1;*/
  border-radius: 25px;
  padding-bottom: 5px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.degrees h2 {
  font-family: 'Nanum Gothic', sans-serif;
  letter-spacing: 3px;
  font-size: 35px;
  text-align: center;
  background-color: #192a56;
  padding: 30px;
  width: 174px;
  margin: 0px auto;
  border-radius: 130px;
}

.degree-title {
  align-items: right;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 0px;
  width: 450px;
}

.degree-title img {
  border-radius: 25px;
  box-shadow: 0px 0px 31px 2px rgba(0,0,0,1);
}

.footer {
  background-color: #192a56;
  padding: 15px;
}

.footer-title {
  font-size: 30px;
  margin: 0px;
}

.contact-networks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #40739e;
  padding: 30px;
  margin: 20px;
  border-radius: 25px;
}

.contact-link {
  margin: 0px 100px;
  width: 100px;
  height: 100px;
}

.contact-link.mail {
  background-image: url('../gmail.png');
  background-size: 105px 105px;
  background-repeat: no-repeat;
  border-radius: 160px;
}

.contact-link.github {
  background-image: url("../github.png");
  background-size: 105.75px 105px;
  background-repeat: no-repeat;
  border-radius: 160px;
}

.contact-link.platzi {
  background-image: url("../fixingmind5.jpg");
  background-size: 105.75px;
  background-repeat: no-repeat;
  border-radius: 160px;
}

.container {
  /*border: 1px solid red;*/
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  align-self: center;
  flex-wrap: wrap;
}

.container.me {
  margin: 0 139px;
}

.container article {
  box-shadow: 0px 0px 31px 2px rgba(0,0,0,1);
}

.container.project, .container.idioms, .container.me {
  margin: auto;
  padding: 10px;
  display: flex;
  width: 1250px;
  justify-content: space-evenly;
}

.container.project {
  margin-bottom: 40px;
}

.thanks {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.thanks img {
  margin-left: 5px;
}
